body{
 text-align: center;
background-color: cyan;
    font-family: cursive;
    color: deepskyblue;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}